.spell-header {
    flex: 1;
    border-radius: var(--border-rad);
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: flex-start;
}

.title {
    font-weight: bolder;
    font-size: larger;
}

.subtitle {
    text-transform: capitalize;
}