:root {
    --fire: #ff9900;
    --necrotic: #339966;
    --force: #ff0000;
    --acid: #ffff00;
    --charmed: #ff8b8b;
    --buff: #00ffff;
    --healing: var(--buff);
    --shapechanging: #b36b00;
    --detection: #add8e6;
    --communication: var(--charmed);
    --creation: #ffc400;
    --psychic: #ff99cc;
    --physical: #aaaaaa;
    --control: var(--physical);
    --frightened: var(--psychic);
    --teleportation: #acc8d7;
    --utility: var(--physical);
    --deception: var(--psychic);
    --cold: #00ccff;
    --foreknowledge: var(--cold);
    --debuff: #ff0000a2;
    --banishment: #5eff0050;
    --bludgeoning: var(--physical);
    --slashing: var(--physical);
    --combat: var(--physical);
    --radiant: #ffff00;
    --blinded: var(--physical);
    --thunder: #cc99ff;
    --lightning: #3366ff;
    --poison: #99cc00;
    --prone: var(--physical);
    --environment: var(--physical);
    --social: var(--physical);
    --summoning: var(--creation);
    --additional: var(--physical);
    --piercing: var(--physical);
    --nagation: var(--physical);
    --deafened: var(--physical);
    --restrained: var(--physical);
    --movement: var(--physical);
    --unconscious: var(--physical);
    --exploration: var(--physical);
    --warding: #ffff99;
    --petrified: var(--physical);
    --invisible: #ffffff;
    --paralyzed: var(--physical);
    --stunned: var(--stunned);
    
}