.titlebar {
    height: 2em;
    background: #1f1f1f;
    user-select: none;
    display: flex;
}
  
.titlebar-buttons {
    display: flex;
    justify-self: flex-end;
}

.titlebar-button {
    width: 2em;
    height: 2em;
}

.titlebar-button:hover {
    background: #3f3f3f;
}

.titlebar-icon {
    width: 2em;
    height: 2em;
}

.bar {
    flex: 1;
    height: 2em;
    font-weight: bolder;
}