.four-item-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 6rem;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #9f9f9f;
}

.two-item-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 6rem;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #9f9f9f;
}

.description {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    flex: 1;
}

button[type=submit] {
    background-color: #4f4f4f;
    color: #ffffff;
    font-size: larger;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
    cursor: pointer;
}

button:disabled {
    color: #9f9f9f;
}